body {
    background-color: lightgray;
}
.top-bar {
    border: 1px solid green;
    width: 100%;
    display: flex;
}
.top-bar div {
    margin-right: 10px;
}
.header {
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav-bar{
    border: 1px solid purple;
    width: 100%;
    height: 40px;
    display: flex;
    

}
.nav-bar div {
    margin-right: 10px;
}
.main {
    border: 1px solid yellow;
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: 640px 1fr 1fr;
    grid-template-rows: 335px 335px;
    grid-template-areas: 
    "big story1 story2"
    "big story3 story4"
;
}
#logo {
    height: 40px;
}

#big-story {
    grid-area: big;

}
#big-img {
    height: 250px;
    width: 500px;
}
#big-text {
    display: flex;
    color: blueviolet;
    padding: 20px 0px 20px 0px;
    font-size: 15px;
}
#big-text2 {
    display: flex;
    padding-bottom: 20px;
    font-weight: bold;
}